


#table_control {
    /* float: right; */
    /* width: 18%; */
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid black;
    padding: 20px;
    margin-right: 20px;
    background-color: rgba(11, 0, 111, 0.5);
}

/* table.gametable thead {
    display: block;
}

table.gametable tfoot {
    display: block;
} */

/* table.gametable tbody {
    display: block;
    min-height: 60px;
    max-height: 100px;
    overflow: auto;
} */

table.gametable {
    width: 60%;
    border-collapse: collapse;
    border: 3px solid black;
    margin: 22px;
    background-color: white;
}

td, th {
    padding: 5px;
    border: 1px solid black;
}

td:hover, th:hover {

    background-color: #eee;
}

.selected {
    background-color: red;
}
